/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Noto Naskh Arabic", sans-serif;
}

h1, h2, h3 {
    font-family: "Noto Naskh Arabic", serif;
}

.footer {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #eaecef;
    color: #586069;
    text-align: center;
}
